# pycharm
.idea

# python
.venv
__pycache__

# allure
allure-results
allure-reportg

#unknown
data.json
JSON_REST_STRANGE_QUESTIONS_DURING_INTERVIEWS.py

#coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json